.bodyContainer {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background-image: url("../images/backgroung_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}